@model TestMVC.Models.ArbetatPass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArbetatPass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArbetatPassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
